<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="lc">
		<p class="copyright">&copy; {{ "now"|date("Y") }} Company Name. All rights reserved.</p>
	</div>
</footer>
<!-- End Footer -->
